!!! 5
%html
  %head
    = Haml::Engine.new(File.read('partials/head.haml')).render
  %body
    = Haml::Engine.new(File.read('partials/header.haml')).render
    .content
      = Haml::Engine.new(File.read('partials/slider.haml')).render
      %section.cats
        .container
          .row
            .span-3
              %img(src="img/menu_icon_1.png")
              %p.small.t-u Остекление балконов
            .span-3
              %img(src="img/menu_icon_2.png")
              %p.small.t-u  Остекление квартир
            .span-3
              %img(src="img/menu_icon_3.png")
              %p.small.t-u Остекление коттеджей
            .span-3
              %img(src="img/menu_icon_4.png")
              %p.small.t-u Выберите дизайн окна
      %section.price
        .base-title Стоимость типовых окон «ПРАЙМ»
        .container
          .row
            .span-4.cost-box
              %img(src="img/okno_1.jpg")
              %h4 Двустворчатое окно
              %p.desc
                Профиль - Prime Standart
                %br
                Ширина: 130 см. Высота: 150 см
                %p.price
                  от
                  %span 3800

              %a.base-link.get-cost.button.cta.hvr-float-shadow(href="/#") Рассчитать стоимость
              %a.base-link.call-spec(href="/#") Вызвать замерщика
            .span-4.cost-box
              %img(src="img/okno_2.jpg")
              %h4 Трехстворчатое окно
              %p.desc
                Профиль - Prime Standart
                %br
                Ширина: 130 см. Высота: 150 см
              %p.price
                от
                %span 3800
                р.
              %a.base-link.get-cost(href="/#") Рассчитать стоимость
              %a.base-link.call-spec(href="/#") Вызвать замерщика
            .span-4.cost-box
              %img(src="img/okno_3.jpg")
              %h4 Двустворчатое окно с дверью
              %p.desc
                Профиль - Prime Standart
                %br
                Ширина: 130 см. Высота: 150 см
              %p.price
                от
                %span 3800
                р.
              %a.base-link.get-cost(href="/#") Рассчитать стоимость
              %a.base-link.call-spec(href="/#") Вызвать замерщика
      %section.who_we_are
        .container
          .base-title.white  Мы не просто продавцы окон
          %p.base-p
            Компания «Окна Прайм» - это один из первых в России заводов - производителей конструкций из ПВХ с двенадцатилетним опытом!
          .row
            .span-20
              .img-box
                %img(src="img/preimushestvo_icon_1.png")
              %p.small.t-u
                ВЫБИРАЯ НАС,
                %br
                ВЫ ПОЛУЧАЕТЕ ГАРАНТИЮ
                %br
                КАЧЕСТВА ОТ ПРОИЗВОДИТЕЛЯ
            .span-20
              .img-box
                %img(src="img/preimushestvo_icon_2.png")
              %p.small.t-u
                НЕ ПЕРЕПЛАЧИВАЕТЕ,
                %br
                А ПОКУПАЕТЕ ОКНА
                %br
                ПО ЗАВОДСКИМ ЦЕНАМ
            .span-20
              .img-box
                %img(src="img/preimushestvo_icon_3.png")
              %p.small.t-u
                ПОЛУЧАЕТЕ
                %br
                ОКНА БЫСТРО
                %br
            .span-20
              .img-box
                %img(src="img/preimushestvo_icon_4.png")
              %p.small.t-u
                У НАС БОЛЕЕ 30 000
                %br
                СЧАСТЛИВЫХ ПОКУПАТЕЛЕЙ
                %br
            .span-20
              .img-box
                %img(src="img/preimushestvo_icon_5.png")
              %p.small.t-u
                БОЛЕЕ 20 000 ИЗ НИХ
                %br
                ДОВЕРИЛИ НАМ ТЕХНИЧЕСКИ
                %br
                СЛОЖНЫЕ ЗАКАЗЫ
      %section.gallery
        .base-title Галерея наших работ
        = Haml::Engine.new(File.read('partials/jssor-slider.haml')).render

      %section.professionals
        .container
          .base-title Доверьтесь профессионалам
          .row
            .company-description
              %p
                Компания «Окна Прайм» уже более 20 лет успешно производит и устанавливает пластиковые окна и двери. Возможности нашего производства позволяют выполнить заказы любой сложности. Мы тщательно следим за всеми этапами работ по изготовлению нашей продукции. Именно поэтому она проходит тройной контроль качества на производстве. Такое внимание к деталям означает, что наши окна служат дольше и требуют меньшего технического обслуживания, чем другие пластиковые окна. Компания «Окна Прайм» уже более 20 лет успешно производит и устанавливает пластиковые окна и двери. Возможности нашего производства позволяют выполнить заказы любой сложности. Мы тщательно следим за всеми этапами работ по изготовлению нашей продукции. Именно поэтому она проходит тройной контроль качества на производстве. Такое внимание к деталям означает, что наши окна служат дольше и требуют меньшего технического обслуживания, чем другие пластиковые окна.
            .company-picture
              %img(src="img/professional.jpg")
      %section.otziv

      %section.everyday-prime
        .container
          .static-text
            .article-header Надежные окна в каждый дом!
            %p.base-p
              Компания «ДОМКОМ» появилась на российском рынке в 1996 году. Несмотря на случившиеся за прошедшие годы перемены в индустрии, наша продукция по-прежнему востребована и популярна.

            %h4 Пластиковые окна от производителя
            %p
              «ДОМКОМ» выпускает собственные современные и высококачественные светотехнические конструкции, произведенные на базе профильных систем KBE и Rehau. Мы развиваемся и совершенствуемся для того, чтобы предложить Вам лучшие ПВХ-конструкции по приемлемой стоимости. Специалисты компании «ДОМКОМ» имеют огромный опыт работы в области изготовления и монтажа пластиковых окон. Все изделия соответствуют высшим европейским стандартам и комплектуются лучшей фурнитурой.

            %h4 Пластиковые окна от «ДОМКОМ» — это:
            %p
              Максимальный комфорт.
              Долгий срок эксплуатации.
              Высокие показатели звукоизоляции.
              Эффективное энергосбережение.
              Создание благоприятного микроклимата в любое время года.
              Отличное качество по доступной цене. Подыскивая подрядчика для остекления помещений, в числе прочих факто-          ров обращают внимание и на стоимость ПВХ-конструкций. Обратившись в компанию «ДОМКОМ», вы можете быть уверены, что приобретаете пластиковые окна от производителя и получаете:
              Стоимость без наценки посредников.
              Высокое качество продукции.
              Широкий спектр услуг – производство, монтаж, остекление квартир, балконов, фасадов, коттеджей, изготовление элементов по индивидуальному заказу.
              Возможность приобретения изделий со скидками, в рассрочку.
              Создание благоприятного микроклимата в любое время года.
              Расширенную гарантию на все виды услуг сроком на 3 года.
              Компания «ДОМКОМ» осуществляет бесплатные замеры дверных и оконных проемов. Курирующий ваш заказ менеджер согласует время и дату доставки готовых пластиковых конструкций. По дополнительной договоренности бригада профессиональных монтажников при помощи современных инструментов выполнит качественный монтаж окон и дверей.
            %h4 Как купить пластиковые окна?
            %p
              Чтобы заказать оконные, дверные или фасадные системы в компании «ДОМКОМ», можно подъехать в офисы нашей компании в любом районе Москвы и МО либо связаться с нами по телефону 8 (800) 505-63-80 или заказать обратный звонок.
      %section.consult
        .container
          .free Бесплатная консультация ежедневно
          .till с 8:00 до 23:00
          .tel 8 (495) 204-26-56
          .callback-form
            %p
              Оставьте свой номер телефона
              и мы перезвоним Вам через 5 минут
            %form
              .input
                %input.tele(type="text" placeholder="+ 7 ( _ _ _ ) _ _ _ - _ _ - _ _")
              .get-call
                %a(href="#/") Заказать звонок
    = Haml::Engine.new(File.read('partials/footer.haml')).render